# get your conection string from neon or your database provider
DATABASE_URL=postgresql://
SECRET_KEY=test

ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=30

GOOGLE_CLIENT_ID=650941437631-tinll4b9qui5d2p8i3ptq8jk8ht33mgh.apps.googleusercontent.com
MICROSOFT_CLIENT_ID=b61d2bd5-92bb-4bda-8a41-c253cb58f876