# get your conection string from neon or your database provider
DATABASE_URL=postgresql://
SECRET_KEY=test

ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=30

GOOGLE_CLIENT_ID=your-google-client-id
MICROSOFT_CLIENT_ID=your-microsoft-client-id